@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


@font-face {
    font-family: 'cairo';
    src: url('assets/fonts/cairo.ttf')
  }

* {
    box-sizing: border-box;
}



:root {
    /* Primary Colors */
    --color-light-red: rgba(255, 80, 80);
    --color-light-bg-red: rgba(255, 80, 80, .2);

    --color-orangey-yellow: rgba(255, 179, 80, 1);
    --color-orangey-bg-yellow: rgba(255, 179, 80, .2);
    
    --color-green-teal: rgba(38, 201, 139, 1);
    --color-green-bg-teal: rgba(38, 201, 139, .2);

    --color-cobalt-blue: rgba(6, 63, 147, 1);
    --color-cobalt-bg-blue: rgba(6, 63, 147, .2);

    /* Gradients */
    --color-light-slate-blue: rgba(166, 185, 255, 1);
    --color-light-royal-blue: rgba(131, 168, 255, 1);

    /* Circle Colors */
    --color-violet-blue: rgba(112, 89, 230, 0.4);
    --color-persian-blue: rgba(131, 168, 255, 0.5);

    /* Neutral Colors */
    --color-white: rgba(255, 255, 255, 1);
    --color-pale-blue: rgba(225, 239, 255, 1);
    --color-light-lavender: rgba(229, 215, 255, 1);
    --color-dark-gray-blue: rgba(57, 74, 99, 1);
}

html{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

body {
    /* margin: 0; */
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-height: 100vh;
    
 
}
 

main {
 
display: flex;

justify-content: center;

}

.summary-section {
    background-color: var(--color-white);
    width: 50%;
    border-radius: 8px;
    box-shadow: 25px 25px 30px var(--color-pale-blue);
    padding: 24px;
    /* flex-direction: row; */
}

.summary-section .title {
    color: var(--color-dark-gray-blue);
    font-size: 20px;
    font-weight: 600px;
    
}

.summary-section .list {
    list-style: none;
    padding: 0;
}

.summary-section .list li {
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.list li:nth-of-type(1) {
    background-color: var(--color-light-bg-red);
    color: var(--color-light-red)
}


.list li:nth-of-type(2) {
    background-color: var(--color-orangey-bg-yellow);
    color: var(--color-orangey-yellow)
}


.list li:nth-of-type(3) {
    background-color: var(--color-green-bg-teal);
    color: var(--color-green-teal)
}


.list li:nth-of-type(4) {
    background-color: var(--color-cobalt-bg-blue);
    color: var(--color-cobalt-blue)
}


.summary-section .link {
    padding: 10px 32px;
    background-color: var(--color-cobalt-blue);
    color: white;
    display: inline-block;
    font-size: 15px ;
    border-radius: 40px;
    width: 100%;
    text-align: center;
    margin-top: 22px;
}
/* my code */
.result-section{
     width: 50%; 
    border-radius: 30px;
     
     --color-light-slate-blue: rgba(166, 185, 255, 1);
     --color-light-royal-blue: rgba(131, 168, 255, 1);
    background: linear-gradient(180deg, rgba(6, 63, 147, 1) 0%, rgba(6, 63, 147, 1) 0%, rgba(9, 14, 172, .75) 80%);
  
    box-shadow: 25px 25px 30px var(--color-pale-blue);
    text-align: center;
}
.secondary-title{
    color: var(--color-white);
/* padding: 5px ; */


}

.main-value{
    color: var(--color-white);
    font-size: 70px;
    font-weight: 600px;
}
.sub-value{
    color: var(--color-light-slate-blue);
    padding-left: 8px;
}


.center-cyrcle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.value-round{
  
    height: 220px;
    width: 220px;
    /* background-color:rgba(0, 0  , 147, 0.2); */
    background-color: var(--color-persian-blue);
    border-radius: 50%;
    display: flex;
      padding: 31px 70px;
    /* margin-left: 70px;  */ 
    background: linear-gradient(0deg, rgba(6, 63, 147, .8) 0%, rgba(166, 185, 255,.1) 0%, rgba(9, 14, 172, 0.8) 90%);
    /* flex-direction: row;
    align-items: center;
    align-content: center;  */
}

.main-title{
  
    color: var(--color-light-lavender);
}
.description{
    color: var(--color-light-lavender);
    
    font-size: 16px;
    padding:0px 60px ;
    /* align-items: center; */
}

@media (max-width:425px ) {
    main {
        flex-direction: column;
        margin-top: 10px;
       
    }
    .summary-section {
        width: 100%;
        padding: 12px;
    }
    .result-section{
        width: 100%;
        min-height: 51vh;
    }
    

}